body{
  background-color: #F9F9F8;
  font-family: 'Open Sans', sans-serif;
}
h5{
  margin-top: 5%;
  font-weight: 100;
  font-size: 20px;
}
#gifLoad{
  padding: 5%;
}
.navbar{
  background-color: #FFE521;
  padding: 0%;
}
.navbar-brand{
  padding: 0%;
}
.navbar-toggler{
  border: none;
  padding: 0;
}
.mail-content{
  padding: 10%;
}
.mail{
  font-size: 18px;
  display: block;
}
.title{
  background-color: #FFE521;
  font-size: 30px;
  text-align: center;
  margin-left: 40%;
}
.liNav{
  display: none;
}
.menu{
  width: 100%;
  background-color: #F9F9F8;
  border: 1px solid rgb(221, 219, 219);
  height: 100vh;
}
.user{
  object-fit: scale-down;
  height: 15vh;
}
.cohort{
  color: #333333;
  width: 100%;
  margin: 3% 0%;
  padding: 0%;
  background-color: #FFE521;
  font-size: 20px;
  text-align:center;
}
.liTable{
  font-size: 20px;
  border:1px white solid;
  width: 100%;
  margin: 0%;
  padding: 0% 10%;
}
#contData{
  display: block;
}
.filter{
  color: #FF009E;
  background-color: transparent;
  background-image: none;
  border-color: #FF009E;
  margin-left: 10%;
}
.cont-search{
  margin: 3%;
  display: inline;
}
li:hover,
.cohort:hover{
  background-color: #FF009E;
}
.filter:hover{
  background-color: #56F89A;
  color: black;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #56F89A;
  border-color: #4e555b;
}
#ranking{
  margin: 3% 0%;
}
.form-control{
  color: #56F89A;
  border: 1px solid #56F89A;
}
tr td:hover{
  background-color: #56F89A;
}

@media (max-width: 770px) {
  tr {
    background-color: inherit;
  }
  .menu{
    display: none;
  }
  .liNav{
    display: block;
  }
  .title{
    margin-left: 5%;
  }
  .dropright{
    width: 100%;
    margin: 0%;
  }
  .mr-sm-2{
    width: 100%;
  }
  .filter{
    width: 100%;
    margin: 0;
  }
}
