body{
  background-color: #F9F9F8;
}
h1{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin: 2% 0%;
  font-weight: bold;
  font-size: 25px;
}
h5{
  margin-top: 8%;
  padding: 5%;
}
.lab{
  object-fit: scale-down;
  height: 12vh;
}
.logo {
 background-color: white; 
 width: 100%;
 text-align: center;
 border: 1px solid rgb(221, 219, 219);
}
.title {
  background-color: #FFE521;
  width: 100%;
}
.menu{
  width: 100%;
  background-color: #F9F9F8;
  border: 1px solid rgb(221, 219, 219);
  height: 100vh;
}
.user{
  object-fit: scale-down;
  height: 15vh;
}
.cohort{
  color: #333333;
  width: 100%;
  margin: 3% 0%;
  padding: 0%;
  background-color: #FFE521;
  font-size: 20px;
  text-align:center;
}
li{
  font-size: 20px;
  border:1px white solid;
  width: 100%;
  margin: 0%;
  padding: 0% 10%;
}
#contData{
  display: block;
}
.filtro{
  color: #FF009E;
  background-color: transparent;
  background-image: none;
  border-color: #FF009E;
}
.filter{
  margin: 3%;
}
li:hover{
  background-color: #FF009E;
}
.filtro:hover{
  background-color: #56F89A;
  color: black;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #56F89A;
  border-color: #4e555b;
}
#ranking{
  margin: 5% 1%;
}
.form-control{
  color: #56F89A;
  border: 1px solid #56F89A;
}
tr td:hover{
  background-color: #56F89A;
}

@media all and (max-width: 700px) {
  [class*="col-"] {
      width: 100%
  }
  .col-3{
      width:25%;
  }
}
